@import url("https://use.typekit.net/fma1jbt.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "aileron", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    z-index: 9999;
}

#splash-screen img {
    width: 12vw;
    animation: blu 0.8s infinite alternate;
}

#splash-screen .spinner {
    display: flex;
    gap: 0.8vw;
    height: 2vw;
}

#splash-screen .spinner .dot {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    animation: grow 0.8s infinite alternate;
}

#splash-screen .spinner .dot:nth-child(2) {
    animation-delay: 150ms;
}

#splash-screen .spinner .dot:nth-child(3) {
    animation-delay: 300ms;
}

#splash-screen .spinner .dot:nth-child(4) {
    animation-delay: 450ms;
}

section {
    height: 100vh;
}

.bottom-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5vw;
    background-color: #1285E1;
}

.bottom-line2 {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5vw;
    background-color: #1285E1;
}

.navbar {
    position: fixed;
    width: 7vw;
    height: 100vh;
    transition: width 400ms ease;
    font-weight: 600;
    z-index: 9998;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-link {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    gap: 1vw;
}

.nav-link:not(:first-child) {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    gap: 1vw;
}

.nav-link i {
    font-size: 2vw;
}

.nav-link img {
    width: 5vw;
}

.nav-item1 {
    position: absolute;
    top: 1vw;
}

.nav-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vw;
}

.nav-item:not(:first-child) {
    background-color: #1185E3;
}

.nav-item:not(:first-child):hover {
    background-color: #0C5B9C;
}

.link-text {
    display: none;
}

.navbar:hover {
    width: 15vw;
}

.navbar:hover .link-text {
    display: block;
}

@keyframes grow {
    to {
        width: 2vw;
        height: 2vw;
    }
}

@keyframes blu {
    to {
        margin-bottom: 0.5vw;
    }
}

.home-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.home-textos {
    width: 35vw;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
}

.home-textos img{
    width: 12vw;
    margin-bottom: 3vw;
}

.home-textos button{
    width: 28vw;
    margin-top: 3vw;
    background-color: #1285E1;
    border: none;
    border-radius: 2vw;
    height: 4.5vw;
    font-size: 1.8vw;
    color: #fff;
    font-weight: 700;
}

.home-textos h1{
    font-size: 2.5vw;
    color: #0B528C;
    margin-bottom: 1.2vw;
}

.home-textos h3{
    font-size: 1.5vw;
    font-weight:normal;
    color: #1285E1;
}

.home-img img {
    position: absolute;
    width: 35vw;
    right: 0;
    bottom: 0;
}

/* -------- SOBRE -------- */

.sobre-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-left: 15vw;
    text-align: left;
    color: #0B528C;
    gap: 1.5vw;
}

.sobre-container h3 {
    width: 35vw;
    font-size: 1.5vw;
}

.sobre-container h1 {
    width: 35vw;
    font-size: 2vw;
}

.sobre-row-container {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.sobre-row-container img {
    width: 25vw;
    height: 25vw;
}

.sobre-row-container h2 {
    font-weight: lighter;
    width: 40vw;
    font-size: 2vw;
    line-height: 2.5vw;
}

/* -------- FILOSOFIA -------- */

.filosofia-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-left: 15vw;
    text-align: left;
    color: #0B528C;
    gap: 1.5vw;
}

.filosofia-container h1{
    width: 40vw;
    font-size: 3vw;
    font-weight: 700;
    color: #1185E3;
}

.filosofia-container h2 {
    font-weight: lighter;
    width: 32vw;
    font-size: 1.5vw;
    line-height: 2.2vw;
}

.filosofia-row-container {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    margin-top: 2vw;
}

.filosofia-row-container img {
    width: 7.5vw;
    border-radius: 1vw;
}

.filo-foto {
    width: 30vw;
    position: absolute;
    bottom: -200vh;
    right: 0;
}

/* --------- NOSSO DNA ---------- */

