@import url("https://use.typekit.net/fma1jbt.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "aileron", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    z-index: 9999;
}

#splash-screen img {
    width: 12vw;
    animation: blu 0.8s infinite alternate;
}

#splash-screen .spinner {
    display: flex;
    gap: 0.8vw;
    height: 2vw;
}

#splash-screen .spinner .dot {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    animation: grow 0.8s infinite alternate;
}

#splash-screen .spinner .dot:nth-child(2) {
    animation-delay: 150ms;
}

#splash-screen .spinner .dot:nth-child(3) {
    animation-delay: 300ms;
}

#splash-screen .spinner .dot:nth-child(4) {
    animation-delay: 450ms;
}

.navbar {
    position: fixed;
    width: 7vw;
    height: 100vh;
    transition: width 400ms ease;
    font-weight: 600;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-link {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    gap: 1vw;
}

.nav-link:not(:first-child) {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    gap: 1vw;
}

.nav-link i {
    font-size: 2vw;
}

.nav-link img {
    width: 5vw;
    position: absolute;
    top: 2vw;
}

.nav-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vw;
}

.nav-item:not(:first-child) {
    background-color: #1185E3;
}

.nav-item:not(:first-child):hover {
    background-color: #0C5B9C;
}

/* .nav-item:first-child {
    margin-bottom: auto;
}

.nav-item:last-child {
    margin-bottom: auto;
} */

.link-text {
    display: none;
}

.navbar:hover {
    width: 15vw;
}

.navbar:hover .link-text {
    display: block;
}

@keyframes grow {
    to {
        width: 2vw;
        height: 2vw;
    }
}

@keyframes blu {
    to {
        margin-bottom: 0.5vw;
    }
}