@import url("https://use.typekit.net/fma1jbt.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "aileron", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #1185E3;
    border-radius: 6px;
}
  
::-webkit-scrollbar-track {
    background: #fff;
}

a {
    text-decoration: none;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    z-index: 9999;
}

#splash-screen img {
    width: 12vw;
    animation: blu 0.8s infinite alternate;
}

#splash-screen .spinner {
    display: flex;
    gap: 0.8vw;
    height: 2vw;
}

#splash-screen .spinner .dot {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    animation: grow 0.8s infinite alternate;
}

#splash-screen .spinner .dot:nth-child(2) {
    animation-delay: 150ms;
}

#splash-screen .spinner .dot:nth-child(3) {
    animation-delay: 300ms;
}

#splash-screen .spinner .dot:nth-child(4) {
    animation-delay: 450ms;
}

section {
    height: 100vh;
}

.bottom-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5vw;
    background-color: #1285E1;
}

.bottom-line2 {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5vw;
    background-color: #1285E1;
}

.navbar-nb {
    position: fixed;
    width: 7vw;
    height: 100vh;
    transition: width 400ms ease;
    font-weight: 600;
    z-index: 9998;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-link-nb {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    gap: 1vw;
}

.nav-link-nb:not(:first-child) {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    gap: 1vw;
}

.nav-link-nb i {
    font-size: 2vw;
    color: #fff;
}

.nav-link-nb img {
    width: 5vw;
}

.nav-item1 {
    position: absolute;
    top: 1vw;
}

.nav-item-nb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vw;
}

.nav-item-nb:not(:first-child) {
    background-color: #1185E3;
}

.nav-item-nb:not(:first-child):hover {
    background-color: #0C5B9C;
}

.link-text {
    display: none;
    color: #fff;
}

.navbar-nb:hover {
    width: 15vw;
}

.navbar-nb:hover .link-text {
    display: block;
}

@keyframes grow {
    to {
        width: 2vw;
        height: 2vw;
    }
}

@keyframes blu {
    to {
        margin-bottom: 0.5vw;
    }
}

.home-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.home-textos {
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
}

.home-textos img {
    width: 12vw;
    margin-bottom: 3vw;
}

.home-textos button {
    width: 32vw;
    margin-top: 3vw;
    background-color: #1285E1;
    border: none;
    border-radius: 2vw;
    height: 5vw;
    font-size: 2.5vw;
    color: #fff;
    font-weight: 700;
}

.home-textos h1 {
    font-size: 3.5vw;
    color: #0B528C;
    margin-bottom: 1.2vw;
}

.home-textos h3 {
    font-size: 2vw;
    line-height: 2.8vw;
    font-weight: normal;
    color: #1285E1;
}

.home-img img {
    position: absolute;
    width: 40vw;
    right: 0;
    bottom: 0;
}

/* -------- SOBRE -------- */

.sobre-container,
.filosofia-container,
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-left: 15vw;
    text-align: left;
    color: #0B528C;
    gap: 1.5vw;
}

.sobre-container h3,
.filosofia-container h3,
.equipe-container h3,
.dna-container h3 {
    width: 35vw;
    font-size: 1.5vw;
    font-weight: 700;
    color: #0C5B9C;
}

.sobre-container h1 {
    width: 40vw;
    font-weight: 700;
    font-size: 2.5vw;
    font-weight: 700;
}

.sobre-row-container {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.sobre-row-container img {
    width: 25vw;
    height: 25vw;
}

.sobre-row-container h2 {
    font-weight: 400;
    width: 40vw;
    font-size: 2vw;
    line-height: 2.5vw;
    color: #0C5B9C;
}

/* -------- FILOSOFIA -------- */

.filosofia-container h1,
.equipe-container h1 {
    width: 40vw;
    font-size: 2.5vw;
    font-weight: 700;
    color: #1185E3;
}

.filosofia-container h2 {
    font-weight: 400;
    width: 35vw;
    font-size: 1.8vw;
    line-height: 2.2vw;
    color: #0C5B9C;
}

.filosofia-row-container {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    margin-top: 2vw;
}

.filosofia-row-container img {
    width: 7.5vw;
    border-radius: 1vw;
}

.filo-foto {
    width: 30vw;
    position: absolute;
    bottom: -200vh;
    right: 0;
}

/* --------- NOSSO DNA ---------- */

.dna-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-left: 15vw;
    text-align: left;
    color: #0B528C;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 1vw;
    height: 1vw;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
    margin-right: 0.5vw;
}

.swiper-wrapper {
    width: 58vw;
}

.swiper-container {
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin: 0;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 34vw;
    height: 20vw;
    border-radius: 2vw;
    padding: 3vw;
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.swiper-slide .swiper-img-texto {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.swiper-slide .swiper-img-texto img {
    width: 3.5vw;
}

.swiper-slide .swiper-img-texto .texto {
    margin-left: 1vw;
}

.swiper-slide .swiper-img-texto .texto ul {
    list-style-position: inside;
    padding-left: 0;
    font-size: 1.5vw;
    margin-top: 2vw;
}

.swiper-slide .swiper-img-texto .texto ul li:not(:last-child) {
    margin-bottom: 1.2vw;
}

.swiper-slide .swiper-img-texto .texto p {
    font-size: 1.5vw;
    line-height: 1.8vw;
    margin-top: 2vw;
}

.swiper-slide .swiper-img-texto .texto .slide-titulo {
    font-size: 1.8vw;
    font-weight: 700;
    margin-top: 1vw;
}

.swiper-slide .texto-p {
    margin-left: -4vw;
}

/* --------- EQUIPE --------- */

#equipe {
    height: 145vh;
}

.equipe-container {
    height: 145vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-left: 15vw;
    text-align: left;
    color: #0B528C;
    gap: 1.5vw;
}

.equipe-container h2 {
    font-size: 2vw;
    font-weight: 700;
}

.equipe-foto {
    display: flex;
    gap: 6vw;
    flex-direction: column;
}

.equipe-foto-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12vw;
}

.equipe-foto-row a {
    text-decoration: none;
    text-align: center;
    color: #0B528C;
    gap: 2vw;
    display: flex;
    flex-direction: column;
}

.equipe-foto-row a img:hover {
    width: 17vw;
}

.equipe-foto-row a img {
    width: 16vw;
    transition: ease-in 0.15s;
}

.bottom-line3 {
    position: absolute;
    bottom: -445vh;
    left: 0;
    width: 100%;
    height: 0.5vw;
    background-color: #1285E1;
}

/* -------- LOGIN -------- */

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: left;
    color: #0B528C;
    margin-left: 0;
}

.login-card {
    background-color: #1285E1;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 2.5vw;
    width: 32vw;
    color: #fff;
    border-radius: 1vw;
}

.login-card h1 {
    font-size: 2vw;
    width: 20vw;
    font-weight: 700;
}

.login-card h2 {
    font-size: 1.5vw;
    font-weight: 400;
    margin-top: 1vw;
}

.login-card-comentario {
    background-color: #0B528C;
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    padding: 1.5vw 2vw;
    border-radius: 2.5vw;
    font-size: 1.3vw;
    gap: 1vw;
}

.login-card-comentario p {
    margin: 0;
}

.comentario-autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

.comentario-autor img {
    width: 3vw;
    height: 3vw;
}

.login-dots {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 1.5vw;
    gap: 0.8vw;
}

.login-dot {
    width: 1.6vw;
    height: 1.6vw;
    border-radius: 100%;
}

.login-form {
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5vw;
    width: 32vw;
}

.login-form h2 {
    font-weight: 700;
}

.login-form h3 {
    font-weight: 400;
    font-size: 1.5vw;
    margin-bottom: 3vw;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.login-form form a {
    margin-top: -1vw;
    text-align: right;
    font-weight: 500;
    color: #5AB5FF;
}

.login-form form .form-control {
    border-radius: 5vw;
    border: solid 0.1vw #1185E3;
    width: 22vw;
    height: 3.5vw;
}

.login-form form span .form-control {
    width: 100%;
}

.login-form form .form-control::placeholder {
    color: #1185E3;
}

.login-form form span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-form form span i {
    margin-left: -3vw;
    font-size: 1.6vw;
    cursor: pointer;
}

.login-form form button {
    border-radius: 1vw;
    width: 22vw;
    height: 3.5vw;
    font-weight: 500;
    font-size: 1.5vw;
}

.login-form p {
    margin-top: 1vw;
    font-weight: 400;
    font-size: 1.3vw;
}